.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.pem
.env
crash.log
crash.*.logportfolio-screenshots/

portfolio-screenshots/

state-check.json

ecs-manual/service.json
ecs-tasks-trust-policy.json
github-ecs-deploy-policy.json
github-ecs-trust-policy.json

*.tfplan
